.messageItem{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    height: auto;
    word-break: break-word;
    color: rgba(255,255,255,1);


}

.messageItemBlock{
    height: auto;
    overflow-wrap: break-word;
    max-width: 564px;

}
.messageItemText{
    line-height: 1.34;
    font-size: 15px;
    font-weight: 400;
    height: auto;
    padding: 7px 12px;
    border-radius: 18px;
    background-color: var(--lm-bg-messages);
    white-space: pre-wrap;

}





